<style> 
	body {
			background-image: url("1.jpg");
			background-repeat: no-repeat;
			background-position: center right; 
			background-size: 400px 350px;
		 }
</style>

<h1>Welcome!</h1> <br><br>
<h2> Today's Date:  <%= Date.today %></h2>
<h2> Today's Super Hero: <% Hero.where(:day => Date.today).each do |hero| %>
							<%= hero.User.name %> <% end %></h2>

<br><br>

<h3> Our Heroes Family: <br> Sherry, Boris, Vicente, Matte, Kevin, Zoe, Jay, Eadon, 
				Franky, Luis, James, Jack </h3><br>

<h3> Enter your Name in below to view your schedule </h3>
<%= form_for @user, :url => {:action => "display_page", :name => :name}, :html => {:method => :get} do |f| %>
<%= f.label :first_name %><br />
    <%= f.text_field :name, :placeholder => "I'm Case Sensitive" %><br />  <br>      
  <%= f.submit "View My Schedule" %>
<% end %>
<br><br><br><br><br>
<%= link_to 'Current Month Schedule', pay_schedule_path %>