<h1>Listing hero1s</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Day</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hero1s.each do |hero1| %>
      <tr>
        <td><%= hero1.User %></td>
        <td><%= hero1.day %></td>
        <td><%= link_to 'Show', hero1 %></td>
        <td><%= link_to 'Edit', edit_hero1_path(hero1) %></td>
        <td><%= link_to 'Destroy', hero1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hero1', new_hero1_path %>
