<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @hero1.User %>
</p>

<p>
  <strong>Day:</strong>
  <%= @hero1.day %>
</p>

<%= link_to 'Edit', edit_hero1_path(@hero1) %> |
<%= link_to 'Back', hero1s_path %>
